---
import Layout from '../layouts/Layout.astro';
import { Hero } from '@/components/Hero';
import { Stats } from '@/components/Stats';
import { About } from '@/components/About';
import { Offer } from '@/components/Offer';
import { Contact } from '@/components/Contact';
import { ContactForm } from '@/components/ContactForm';
---

<Layout title="Inferno Cheer Elite | Cheerleading i Taniec w Tarnowie">
	<main id="main-content">
		<Hero />
		<Stats client:visible />
		<About client:visible />
		<Offer client:visible />
		<Contact client:visible />
		<ContactForm client:visible />
	</main>
</Layout>